<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunday.blog.sundayblog.mapper.ArticleMapper">

    <insert id="articleInsert" parameterType="ArticlePojo">
        insert into article (
            title,
            type,
            content_markdown,
            content_html,
            author,
            insert_time,
            modify_time
        ) values (
            #{title},
            #{type},
            #{contentMarkdown},
            #{contentHtml},
            #{author},
            #{insertTime},
            #{modifyTime}
        )
    </insert>
</mapper>